<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 开启controller注解支持 -->
	<context:component-scan base-package="com.app.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	 <bean id="messageSource"  
	    class="org.springframework.context.support.ReloadableResourceBundleMessageSource"  
	    p:fallbackToSystemLocale="true" p:useCodeAsDefaultMessage="false"  
	    p:defaultEncoding="UTF-8">  
	    <description>Base message source to handle internationalization </description>  
	    <property name="basenames">  
	        <list>  
	            <!-- main resources -->  
	            <value>classpath:message/main</value>  
	        </list>  
	    </property>  
	</bean> 
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 将StringHttpMessageCOnverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>

		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:default-servlet-handler />

	<context:property-placeholder
		ignore-unresolvable="true" location="classpath*:/spring/application.properties" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:maxUploadSize="104857600" p:maxInMemorySize="4096"
		p:defaultEncoding="UTF-8" />

	<aop:config proxy-target-class="true"></aop:config>

    <!-- Freemarker配置 -->
    <!-- org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape" />
                <entry key="html_escape" value-ref="fmHtmlEscape" />
                <entry key="e" value-ref="commonTag" />
            </map>
        </property>
    </bean>

    <bean id="commonTag" class="com.app.utils.ftl.CommonTag" >
        <property name="imageHostPath" value="${app.imageHostPath}"></property>
        <property name="resPath" value="${app.resPath}"></property>
    </bean>

    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
    <bean id="fmHtmlEscape" class="freemarker.template.utility.HtmlEscape" />

    <context:property-placeholder
            ignore-unresolvable="true" location="classpath*:/spring/application.properties" />

    <!--视图解释器 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="suffix" value=".ftl" />
        <property name="requestContextAttribute" value="rc"></property>
        <property name="contentType" value="text/html;charset=UTF-8"></property>
    </bean>

    <!-- 控制器异常处理 -->
	<bean id="exceptionHandlerExceptionResolver"
		class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
	</bean>

</beans>
